.lookbook_image {
  height: 876px;
  width: 655.94px;
  pointer-events: none;
  margin: 40px auto;
}


@media screen and (max-width: 700px) {
  .lookbook_image {
    height: 600px;
    width: 400px;
  }
}